footer {
  background: var(--color-primary);
  padding-top: 8rem;
  box-shadow: 0 -1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

footer .nav__menu {
  gap: 2rem;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.footer__container h3,
.footer__container h4 {
  color: white;
  font-size: 1.4rem;
}
.footer__socials {
  width: fit-content;
  display: flex;
  gap: 1.5rem;
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.footer__socials a {
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.6rem;
  border-radius: var(--border-radius-3);
}

.footer__socials a:hover {
  opacity: 0.7;
  transform: translateY(-0.5rem);
}

.footer__copyright {
  color: white;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
}
@media screen and (max-width: 1024px) {
  footer .nav__menu {
    display: flex;
  }
  .footer__container {
    width: var(--container-width-lg);
  }
}
@media screen and (max-width: 600px) {
  .footer__follow {
    grid-column: 1 / -1;
  }
  .footer__container {
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 375px) {
  .footer__socials {
    justify-content: space-between;
  }
  .nav__menu {
    flex-direction: column;
    gap: 1rem;
  }
}
