.s-container {
  display: flex;
  gap: 6rem;
}

.flip-btn {
display: flex;
justify-content: center;
}
.flip-btn .btn{
  padding: 1rem 3rem;
}
.flip-btn .adt{
  border-radius: 0.8rem 0 0 0.8rem;
}
.flip-btn .tech{
  border-radius: 0 0.8rem 0.8rem 0;
}
.active{
  border: 2px solid #d77a65;;
}
.flip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 400px;
  height: 50rem;
  padding: 20px;
  background: var(--color-light);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.front-el {
  display: flex;
  gap: 2rem;
}

.react-card-flip {
  transition: transform 0.5s;
}

.react-card-flip.is-flipped {
  transform: rotateY(180deg);
}
.icon{
  font-size: 5rem;
  color: var(--color-primary);
  width: 6rem;
  height: 6rem;
}
.front-el h3{
  font-family: "Lato", sans-serif;
  background-color: #d77a65;
  color: #fcfbfa;
  font-weight: 700;
  padding: 5px 5px 3px;
  margin-top: 15px;
}
.front-el p{
  margin-bottom: 1rem;
  text-align: start;
}
.services-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-right,.services-right h2{
  text-align: start;
}
.special{
  margin: 1rem 0;
}
.mini-header{
  margin-top:2rem;
}
.svg{
  margin-right: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-primary);
}
span{
  font-size: 1.6rem;
}
.btn{
  transition: var(--transition);
}
.techs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px 15px;
  gap: 15px 15px;
  justify-items: center;
  align-items: center;
}